<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="course_work4.Properties.Settings.ConnectionString" connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-5ADS772\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=course_work4" providerName="System.Data.OleDb" />
    <add name="course_work4Entities" connectionString="metadata=res://*/Model_Sclada.csdl|res://*/Model_Sclada.ssdl|res://*/Model_Sclada.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5ADS772\SQLEXPRESS;initial catalog=course_work4;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="course_work4Entities1" connectionString="metadata=res://*/Model_Sclad.csdl|res://*/Model_Sclad.ssdl|res://*/Model_Sclad.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5ADS772\SQLEXPRESS;initial catalog=course_work4;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>